:root{
    --color-primary:#093A3E;
    --color-primary-dark:#001011;
    
    --color-secundary:#64E9EE;
    --color-secundary-dark:#3AAF89;

    --color-gray-light:#f1f1f1;
    --color-gray:#ccc;
    --color-gray-dark:#333;
}
